body {
  font-family: Arial;
}

h2 {
  font-weight: 700;
}

ul.row-list {
  > li {
    border-bottom: 1px #333333 solid;
    padding: 6px;
  }
}

/**
 * Button styles
 */
.btn {
  background-color: #ccc;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: .8em;
  padding: 4px 8px;
  border-bottom: 1px solid #ebebeb;

  &-main {
    background-color: green;
  }

  &-secondary {
    background-color: #333;
  }

  &-danger {
    background-color: #ff0000;
  }

  &-warning {
    background-color: #cf974e;
  }

  &:hover {
    opacity: .8;
  }
}