body {
  font-family: Arial;
}

.admin-header-options {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  h2 {
    font-size: 1.4em;
  }
}

.el-card {
  --el-card-padding: 6px 12px 10px 12px;
}

.el-progress-bar__outer {
  background-color: #ccc;
}

.view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__tools {

  }

  &__small {
    height: 34px;
    padding: 0;
    font-size: 0.9em;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }
}


.underline {
  text-decoration: underline;
}